.index_container{
    background-color: #80DED9;
    min-height:100vh;
    max-height:100%;
}
.body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.body__title{
    font-family: 'Pangolin', cursive;
    color:#068D9D;
}
.body__text{
    font-family: 'Pangolin', cursive;
    color:#068D9D;
    font-size: 1.2em;
    width:60%;

}
.gallerie{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.gallerie__img{
    width:20%;
}
.index__button{
    margin:3%;
    color:#53599A;
}