 .container{
    background-color: lightskyblue;
    min-height:100vh;
    max-height:100%;
}

.header{
    background-color: darkslateblue;
    display:flex;
    justify-content: center;
    align-items: center;
}
.header__title{
    font-size: 3em;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height:5%;
    color: white;
    padding:2%;
}
.nav{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
        margin: 1%;
}
.nav ul {
    display:flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

    width: 100%;

    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.factSpace{
    height:500px;
}
.factBox{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.imagen{
    max-height:450px;
    max-width:50%;
}
.controlPanel{
    position:absolute;
    bottom:0;
    display:flex;
    height:100px;
    justify-content: center;
    align-items: center;
    width:100%;
}
.header__title{
    margin: 0;
}



.nav__button{
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.nav__button:hover {
	background-color:#019ad2;
}
.nav__button:active {
	position:relative;
	top:1px;
}
