 .container{
    background-color: lightskyblue;
    height:100vh;
}
.nav{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
        margin: 1%;
}
.nav ul {
    display:flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

    width: 100%;

    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.nav ul li{
    border: 1px solid black;
    margin: 0;
    padding: 1% 10%;


}
.factSpace{
    
}
.factBox{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.imagen{
    max-height:450px;
    max-width:50%;
}
.controlPanel{
    position:absolute;
    bottom:0;
    display:flex;
    height:100px;
    justify-content: center;
    align-items: center;
    width:100%;
}
.header__title{
    margin: 0;
}